* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  

#contenedor-principal {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  width: 100%; 
  margin: 0 auto; 
  column-gap: 30px;
  margin-bottom: 60px;
}

.contenedor-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  /
}

.contenedor-arriba-one img {
  width: 100%;
  height: auto;
  display: block; 
  background-color: rgb(246, 191, 217);
}

.contenedor-arriba-second img {
  width: 100%;
  height: auto;
  display: block; 
  background-color: rgb(152, 205, 228);
}



.contenedor-abajo-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0; 
  background-color: rgb(246, 191, 217); 
  height: 240px; 
  color:rgb(213, 0, 50);
  flex-direction: column;
}


.contenedor-abajo-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0; 
  background-color:  rgb(152, 205, 228); 
  height: 240px; 
  color:rgb(0, 59, 73);
  
}

#text-here {
  
  display: inline-block; 
  padding: 10px 20px; 
  text-align: center; 
  color:  rgb(213, 0, 50); 
  border-radius: 50px; 
  border: 2px solid rgb(213, 0, 50); 
  cursor: pointer; 
  text-decoration: none; 
  font-size: 16px; 
 
  font-weight: bold;
}

#text-more {
 
  display: inline-block; 
  padding: 10px 20px; 
  text-align: center; 
  color: rgb(0, 59, 73); 
  border-radius: 50px; 
  border: 2px solid rgb(0, 59, 73); 
  cursor: pointer; 
  text-decoration: none; 
  font-size: 16px; 
  
  font-weight: bold;
}
.container-text-block{
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center; 
width: 100%; 

}
.boton-wrapper {
  margin-top: 30px; 
}


  
  