*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  
  body{
    font-family: "Roboto", serif;
  }
  #tarjeta-seis {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Alinea los elementos juntos al centro sin espacio extra */
    margin-bottom: 40px;
    gap: 30px;
    
    flex-wrap: nowrap; /* Asegura que no se ajusten a una nueva línea */
}

#tarjeta-seis .tarjeta-seis-contenedor-uno,
#tarjeta-seis .tarjeta-seis-contenedor-dos {
    max-width: 100%; /* Cada contenedor toma la mitad del ancho */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tarjeta-seis .contenedor-imagen1{
    width: 100%;
    max-width: 630px; /* Controla el tamaño máximo de los contenedores */
    background-color: rgb(246, 191, 217);
}
#tarjeta-seis .contenedor-imagen2 {
    width: 100%;
    max-width: 630px; /* Controla el tamaño máximo de los contenedores */
    background-color: rgb(152, 205, 228);
}

#tarjeta-seis .contenedor-imagen1 .imagen-starbucks6,
#tarjeta-seis .contenedor-imagen2 .imagen-starbucks6 {
    max-width: 100%;
    height: auto;
    display: block; /* Cambia a block para asegurarte de que respete su contenedor */
}

#tarjeta-seis .contenedor-texto1
{
    width: 100%;
    max-width: 630px; /* Mantiene el tamaño alineado con el contenedor de la imagen */
    padding: 10px; /* Espacio interno del texto */
    background-color: rgb(246, 191, 217); /* Diferente fondo para los textos */
    text-align: center; /* Centra el texto horizontalmente */
    height: 150px;
    
}
#tarjeta-seis .contenedor-texto2 {
    width: 100%;
    max-width: 630px; /* Mantiene el tamaño alineado con el contenedor de la imagen */
    padding: 10px; /* Espacio interno del texto */
    background-color: rgb(152, 205, 228); /* Diferente fondo para los textos */
    text-align: center; /* Centra el texto horizontalmente */
    }