* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: MiFuente;
    src: url(fonts/sodo-sans-8.woff) format("woff");
  }
  body{
    font-family: "MiFuente", serif;
    font-weight: bold;
  }
  .header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding: 20px;
    
}

/* Estilos generales */
.nav {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translateX(-100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    gap: 40px;
}

.nav:target {
    --state-menu: translateX(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}

/* Íconos de hamburguesa y cerrar */
.nav__hamburguer, 
.nav__close {
    cursor: pointer;
    transition: 0.4s transform;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 20px;
    
}

.nav__hamburguer {
    transform: var(--state-hamburguer);
}

.nav__close {
    transform: var(--state-close);
}

/* Links de navegación */
.nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color:black;
    transform: var(--state-menu);
    transition: 0.3s transform ease-in-out;
    gap: 2em;
    align-content: center;
    text-align: center;
    z-index: 1;
}

.nav__link {
    text-decoration: none;
    font-weight: 300;
    color: black;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.nav__link:hover {
    color: rgb(0, 117, 74);
}

/* Íconos específicos */
.nav-item.location .nav__link {
    color: black;
}
/* Íconos específicos */
.nav-item .nav__link .nav__link a {
    color: black;
}

.nav-item.ingresar .nav__link {
    padding: 7px 16px;
    border-radius: 50px;
    border: 1px solid;
}

.nav-item.unete .nav__link {
    background-color: black;
    color: white;
    padding: 7px 16px;
    border-radius: 50px;
    border: 1px solid;
}
/* Mostrar el menú cuando se hace clic en el ícono de hamburguesa */
.nav:target .nav__links {
    transform: translateX(0);  /* Menú visible */
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .header {
        padding: 0 20px; /* Ajusta el padding para pantallas grandes */
    }

    /* Si necesitas que el padding se ajuste al tamaño del logo */
    .nav__logo {
        width: auto;
        height: 50px; /* O ajusta según el tamaño de tu logo */
    }
    
    .nav {
        --state-hamburguer: scale(0);
        --state-close: scale(0);
        --state-menu: translate(0);
        display: flex;
        justify-content: space-between;
        max-width: 85%;
        margin: 0 auto;
    }
    .nav__link.nav__logo:hover {
        color: unset; /* Evita el cambio de color */
        border-bottom: none; /* Elimina el subrayado */
    }
    
    .nav__hamburguer, 
    .nav__close {
        display: none; /* Oculta los íconos de hamburguesa y cerrar */
    }

    .nav__links {
        position: static; /* Elimina la posición fija */
        display: flex; /* Cambia de grid a flex */
        background-color: unset;
        gap: 1.5em;
        transform: none; /* Elimina cualquier transformación */
        align-items: center;
    }
    .nav-item.location .nav__link {
        border: none;
        padding: 0;
        color: black;
    }
    .nav-item.location .nav__link:hover{
        color: rgb(77, 77, 77); 
    }
    

    .nav__link {
        font-size: 1rem;
        letter-spacing: normal;
        color: black;
    }

    .nav__link:hover {
        color: rgb(0, 117, 74);
        border-bottom: 5px solid rgb(0, 117, 74);
        padding-bottom: 30px;
    }

    .nav-item.location .nav__link {
        border: none;
        padding: 0;
    }

    .nav-item.ingresar .nav__link:hover {
        color: rgb(77, 77, 77);
    }

    .nav-item.unete .nav__link:hover {
        background-color: rgb(51, 51, 51);
        color: white;
    }
}
