* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: MiFuente;
    src: url(fonts/sodo-sans-8.woff) format("woff");
  }
  body{
    font-family: "MiFuente", serif;
    font-weight: bold;
  }
  .header{
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding: 20px;
    
  }
  .topnavbar{
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
  }
  
  .topnavbar .nav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
  }
  .topnavbar .nav .nav-item .item-image{
    height: 50px;
    width: 50px;
    max-width: 50px;
  }
  .topnavbar .nav .nav-item a{
    text-decoration: none;
    font-weight: 300;
    color: black;
  }
  .topnavbar .nav .nav-item a:hover{
    color: rgb(0, 117, 74);
    border-bottom: 7px solid rgb(0, 117, 74);
    padding-bottom: 30px;
    
  }


.topnavbar .nav .nav-item.location a:hover {
    color: rgb(77, 77, 77); 
    border-bottom: none;
    padding-bottom: none;

}

  .topnavbar .nav .nav-item.ingresar a {
    
    padding: 7px 16px;
    border-radius: 50px;
    border: 1px solid;
}
.topnavbar .nav .nav-item.ingresar a:hover {
    color: rgb(77, 77, 77); 

}

.topnavbar .nav .nav-item.unete a {
    background-color: black;
    color: white;
    padding: 7px 16px;
    border-radius: 50px;
    border: 1px solid;
}

.topnavbar .nav .nav-item.unete a:hover {
    background-color: rgb(51, 51, 51); 
    color: white; 


}

/* Inicialmente ocultamos los botones de abrir y cerrar */
.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 550px) {

    /* Estilos para el botón de abrir el menú */
    .abrir-menu {
        display: flex;
        font-size: 1.5rem; /* Tamaño más grande para mayor accesibilidad */
        background-color: transparent;
        border: 0;
        color: #1c1c1c;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Estilos para el botón de cerrar el menú */
    .cerrar-menu {
      display: block; /* Asegúrate de que el botón sea visible */
      font-size: 1.75rem;
      background-color: transparent;
      border: none;
      color: #1c1c1c; /* Asegura un color visible */
      position: absolute;
      top: 1rem; /* Ajusta según tu diseño */
      right: 1rem;
      cursor: pointer;
      z-index: 11; /* Asegúrate de que esté por encima del menú */
  }
  

    /* Estilos para el menú cuando está oculto */
    .nav {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Alineación de los items a la derecha */
        gap: 1.5rem; /* Espaciado entre los items */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff; /* Fondo oscuro */
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7); /* Sombra de fondo */
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 10;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        
    }
    .nav-list li a {
      color: #1c1c1c; /* Texto oscuro sobre fondo blanco */
      font-size: 1.2rem;
      text-decoration: none;
  }
    /* Mostrar el menú cuando tiene la clase 'visible' */
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    /* Estilos para los enlaces en el menú */
    .nav-list {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }



  
    /* Estilo para las barras del icono de hamburguesa cuando se convierte en 'X' */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(30deg);
        position: relative;
        top: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-30deg);
        position: relative;
        top: 0;
    }
}


